*{
  background: black;
  color: white;
  margin-top: 1vh;
}
.main-nav{
  display: flex;
  justify-content: space-evenly;
}
.true{
  text-decoration: line-through;
  opacity: 0.55;
}
button{
  text-decoration: none !important;
}
@media only screen and (max-width: 700px){
  .form-list{
    padding-top: 1vh;
    text-align: center;
    width: 80%;
    margin: 1vh auto;
  }
  .input-titulo{
    width: 90%;
    font-size: 1.2em;
    padding: 5px 10px;
  }
  .form-items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-items button{
    width: 50%;
    margin-top: 10px;
  }
  .info-created{
    font-style: italic;
    margin-bottom: 20px;
  }
  .input-items{
    font-size: 1.2em;
    padding: 10px 15px;
    width: 100%;
    border: 1px solid yellow;
  }
  .input-items-real{
    font-size: 1.2em;
    padding: 10px 15px;
    width: 100%;
  }
  .input-share-list{
    width: 100%;
    padding: 5px 10px;
    font-size: 1.1em;
    text-align: center;
  }
  .new-list-wrapper{
    border-left: 3px solid yellow;
    border-right: 3px solid yellow;
    padding-left: 20px;
    padding-right: 20px;
  }
  .info-share{
    color: #5bc0de;
    font-style: italic;
    font-size: 1.2em;
  }
  .container-aviso{
    margin: 3vh auto;
    width: 90%;
    border: 2px solid lightgray;
    border-radius: 6px;
    padding: 20px 30px;
  }
  .title-new-list{
    font-style: italic;
    text-align: center;
    color: yellow;
  }
  .new-list-popUp{
    border: 3px solid blueviolet;
  }
  .list-edit-title input{
    width: 95%;
    font-size: 1em;
    padding: 5px 10px;
  }
  .list-edit-title h2{
    margin-right: 30px;
  }
  .buttons-edit-list{
    display: flex;
    justify-content: space-evenly;
  }
  .list-non-edit{
    display: flex;
    flex-direction: row;
  }
  .list-edit-title button{
    width: 40%;
  }
  .button-copy-link{
    margin-left: 50%;
    font-size: 1.2em;
  }
  .go-to-list-wrapper{
    margin-top: 20px;
    margin-right: 5px;
    text-align: right;
    border-top: 2px solid gray;
  }
  .go-to-list-wrapper p{
    font-style: italic;
    margin-bottom: 0;
    font-size: 1.2em;
  }
  .container-aviso-list{
    margin: 3vh auto;
    width: 90%;
    border: 2px solid lightgray;
    border-radius: 6px;
    padding: 20px 30px;
  }
  .the-list-popUp{
    border-left: 3px solid yellow;
    border-right: 3px solid yellow;
    width: 100%;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
  }
  .the-list-popUp ul{
    padding: 0;
  }
  .item-lista{
    margin-left: 10px;
    font-size: 1.2em;
    text-transform: capitalize;
    list-style-type: none; 
  }
  .double-button-wrapper{
    display: flex;
    justify-content: center;
  }
  .double-button-wrapper button{
    margin-right:5px;
  }
  .borra-lista-btn{
    margin-top: 30px;
  }
  .double-links-wrap{
    border: 3px solid #93E1D8;
    padding: 10px 10px;
    margin: 30px 0px;
  }
  .btn-golist{
    margin: 5px auto;
  }
  .items-container{
    font-size: 0.9em !important;
    margin-top: 20px;
  }
  .items-container ul{
    font-size: 1.2em;
    padding: 0;
  }
  .items-container ul li{
    display: flex;
    justify-content: space-around;
  }
  .delete-container{
    display: 'flex';
    justify-content: 'center';
    margin-top: '20px';
    text-align: center;
  }
  .button-create-otherList{
    margin-left: 15px;
  }
}
@media only screen and (min-width:701px){
  .form-list{
    padding-top: 1vh;
    text-align: center;
    width: 50%;
    margin: 1vh auto;
  }
  .input-titulo{
    width: 60%;
    font-size: 1.2em;
    padding: 5px 10px;
  }
  .form-items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-items button{
    width: 50%;
    margin-top: 10px;
  }
  .info-created{
    font-style: italic;
    margin-bottom: 20px;
  }
  .input-items{
    font-size: 1.2em;
    padding: 10px 15px;
    width: 70%;
    border: 1px solid yellow;
  }
  .input-items-real{
    font-size: 1.2em;
    padding: 10px 15px;
    width: 100%;
  }
  .input-share-list{
    width: 70%;
    padding: 5px 10px;
    font-size: 1.1em;
    text-align: center;
  }
  .new-list-wrapper{
    border-left: 3px solid yellow;
    border-right: 3px solid yellow;
    padding-left: 20px;
    padding-right: 20px;
  }
  .info-share{
    color: #5bc0de;
    font-style: italic;
    font-size: 1.2em;
  }
  .container-aviso{
    margin: 3vh auto;
    width: 50%;
    border: 2px solid lightgray;
    border-radius: 6px;
    padding: 20px 30px;
  }
  .title-new-list{
    font-style: italic;
    text-align: center;
    color: yellow;
  }
  .new-list-popUp{
    border: 3px solid blueviolet;
  }
  .list-edit-title input{
    width: 40%;
    font-size: 1em;
    padding: 5px 10px;
  }
  .list-edit-title h2{
    margin-right: 30px;
  }
  .buttons-edit-list{
    display: flex;
    justify-content: space-evenly;
  }
  .list-non-edit{
    display: flex;
    flex-direction: row;
  }
  .list-edit-title button{
    width: 40%;
  }
  .button-copy-link{
    margin-left: 50%;
    font-size: 1.2em;
  }
  .go-to-list-wrapper{
    margin-top: 20px;
    margin-right: 5px;
    text-align: right;
    border-top: 2px solid gray;
  }
  .go-to-list-wrapper p{
    font-style: italic;
    margin-bottom: 0;
    font-size: 1.2em;
  }
  .container-aviso-list{
    margin: 3vh auto;
    width: 40%;
    border: 2px solid lightgray;
    border-radius: 6px;
    padding: 20px 30px;
  }
  .the-list-popUp{
    border-left: 3px solid yellow;
    border-right: 3px solid yellow;
    width: 100%;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
  }
  .the-list-popUp ul{
    padding: 0;
  }
  .item-lista{
    text-align: center;
    font-size: 1.2em;
    text-transform: capitalize;
    list-style-type: none; 
  }
  .double-button-wrapper{
    display: flex;
    justify-content: center;
  }
  .double-button-wrapper button{
    margin-right:5px;
  }
  .borra-lista-btn{
    margin-top: 30px;
  }
  .double-links-wrap{
    border: 3px solid #93E1D8;
    padding: 10px 10px;
    margin: 30px 0px;
  }
  .btn-golist{
    margin: 5px auto;
  }
  .items-container{
    font-size: 0.9em !important;
    margin-top: 20px;
  }
  .items-container ul{
    font-size: 1.2em;
    padding: 0;
  }
  .items-container ul li{
    display: flex;
    justify-content: space-around;
  }
  .delete-container{
    display: 'flex';
    justify-content: 'center';
    margin-top: '20px';
    text-align: center;
  }
  .button-create-otherList{
    margin-left: 15px;
  }
}
